@charset "UTF-8";

/*  
    Paleta de cores para o projeto;

    #3A6B33 
    #C0EEBA
    #7FEB71
    #566B54
    #63B858
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    /* VARIAVEIS CORES */

    --cor0:#C0EEBA;
    --cor1:#7FEB71;
    --cor2:#63B858;
    --cor3:#3A6B33;
    --cor4:#566B54;
    --corvioleta: rgb(119, 7, 119);
    /* VARIAVEIS DAS FONTES */

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

 /* CONFIGURAÇOES GLOBAIS */ 
 
* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
    
}
a.externo::after {
    content: '\00A0\1F517'; /* Criando uma 'class' para mostrar o símbolo de link externo junto aos links*/
}

header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    background-color: var(--cor3);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 20px; 
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.374);

}
header > p {
    font-family: var(--font-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;


}

nav{
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.408);
}

nav a {
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav> a:hover {
    background-color: var(--cor1);
    color: var(--cor3);
}

main{
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.458);
    border-radius: 0px 0px 10px 10px;
    background-color: white;

}


main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--corvioleta);
    padding: 2px 6px;
    background-color: var(--cor0);
}
main a:hover {
    text-decoration: underline;
    background-color: var(--cor1);
    color: var(--corvioleta);
}
main  h1{
    color: var(--cor4);
    font-family: var(--font-android);
    font-weight: normal;
}
main h2 {
    font-family: var(--font-android);
    color: var(--cor3);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 10px;
}
main p {
    text-align: justify;
    text-indent: 30px;
    margin: 15px 0px;
    font-size: 1em;
    line-height: 1.5em; /*altura entre linhas do parágrafo*/
}
main strong{
    color: var(--cor3);
    font-weight: bold;
    padding: 2px 6px;
}

/*##############################################################################################*/

 div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;

    position: relative;
 }

 div.video > iframe {

    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
 }


/* #######################################################################################*/

aside {
    margin-top: 30px;
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.300);
}
aside > h3 {
    font-family: var(--font-android);
    font-weight: normal;
    color: white;
    background-color: var(--cor4);
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul {
    list-style-type: '\2714\00A0\00A0'; /* Código do Emojipedia para colocar o símbolo do 'CHEK': 2714. --- os outros códigos são pra dar espaço. */
    list-style-position: inside; /*Trouxe a lista pra dentro do 'ASIDE' */
    columns: 2; /*Dividiu a lista em duas colunas*/
}

/* #######################################################################################*/


footer {
    margin: 20px 0px;
    background-color: var(--cor4);
    padding: 30px;
    background-image: linear-gradient(to top, var(--cor4), var(--cor2));

}
footer > p {
    color: white;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: bolder;
    padding: 2px 6px;
}
footer a:hover {
    text-decoration: underline;
    background-color: var(--cor1);
    color: var(--corvioleta);
}